# 5. Imputation workclass & occupation

Replace Missing values for Native-Country with 'United States'

And generate two parallel data sets with workclass and occupation as target for imputation

In [1]:
import pandas as pd, numpy as np

In [2]:
col_names = ['age','workclass','fnlwgt','education', 'education_num','marital_status',
             'occupation','relationship','race','sex','capital_gain','capital_loss', 
             'hours_per_week','native_country','50k']

In [3]:
df_train_raw = pd.read_csv('census-income.data.csv', names = col_names)

In [4]:
df_train_raw.replace(' ?', np.nan, inplace=True)

In [5]:
df_train_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Encode Target Column

In [6]:
train_target = pd.get_dummies(df_train_raw).iloc[:,-1]

In [7]:
train_target.head()

0    0
1    0
2    0
3    0
4    0
Name: 50k_ >50K, dtype: uint8

# Unbalanced Data

In [8]:
train_target.value_counts()

0    24720
1     7841
Name: 50k_ >50K, dtype: int64

# Continuous Columns 

age, education_num, fnlwgt, capital_gain, capital_loss, hours_per_week

In [9]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [10]:
len(train_features_raw.columns)

14

In [11]:
df_continuous = pd.concat([train_features_raw.age,
           train_features_raw.fnlwgt,
           train_features_raw.capital_gain,
           train_features_raw.capital_loss,
           train_features_raw.hours_per_week], axis=1)

# Continuous Variables Containing Missing Values

In [12]:
train_features_raw.age.isnull().values.any()

False

In [13]:
train_features_raw.fnlwgt.isnull().values.any()

False

In [14]:
train_features_raw.capital_gain.isnull().values.any()

False

In [15]:
train_features_raw.capital_loss.isnull().values.any()

False

In [16]:
train_features_raw.hours_per_week.isnull().values.any()

False

# Binary Spread of Categorical Columns

In [17]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [18]:
train_features_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

# Variables containing missing values

### Education

In [19]:
train_features_raw.native_country.isnull().values.any()

True

### Impute for Education

Replace all missing values with United States

In [20]:
native_country = train_features_raw.native_country.replace(np.nan, ' United-States')
native_country = pd.get_dummies(native_country)

In [21]:
native_country.head()

,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Workclass

In [29]:
train_features_raw.occupation.isnull().values.any()

True

### Impute for Workclass

Replace all missing values with Private

In [30]:
workclass = train_features_raw.workclass.replace(np.nan, ' Private')
workclass = pd.get_dummies(workclass)

In [31]:
workclass.head()

,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay
0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,1,0,0
2,0,0,0,1,0,0,0,0
3,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0

### Occupation

In [32]:
train_features_raw.occupation.isnull().values.any()

True

In [33]:
missing_occupation = list(train_features_raw.occupation[train_features_raw.occupation.isnull()].index)

In [34]:
len(missing_occupation)

1843

In [35]:
occupation_int, occupation_str = pd.factorize(train_features_raw.occupation)
occupation_int = pd.Series(occupation_int)
occupation_int = occupation_int.replace(-1, np.nan)
occupation_or = train_features_raw.occupation

In [36]:
occupation_str

Index([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'],
      dtype='object')

# Variables not containing missing values

### marital

In [37]:
train_features_raw.marital_status.isnull().values.any()

False

In [38]:
marital_status = pd.get_dummies(train_features_raw.marital_status)
marital_status.head()

len(marital_status.columns)

7

### relationship

In [39]:
train_features_raw.relationship.isnull().values.any()

False

In [40]:
relationship = pd.get_dummies(train_features_raw.relationship)
relationship.head()

len(relationship.columns)

6

### race

In [41]:
train_features_raw.race.isnull().values.any()

False

In [42]:
race = pd.get_dummies(train_features_raw.race)
race.head()

len(race.columns)

5

### sex

In [43]:
train_features_raw.sex.isnull().values.any()

False

In [44]:
sex = pd.get_dummies(train_features_raw.sex)
sex.head() # Male = 1, Female = 0

    Female   Male
0        0      1
1        0      1
2        0      1
3        0      1
4        1      0

# Put dataset together

In [50]:
df1 = df_continuous.merge(marital_status, left_index=True, right_index = True)

In [51]:
df2 = df1.merge(relationship, left_index=True, right_index = True)

In [52]:
df3 = df2.merge(race, left_index=True, right_index = True)

In [53]:
df4 = df3.merge(sex, left_index=True, right_index = True)

In [54]:
df5 = df4.merge(native_country, left_index=True, right_index = True)

In [55]:
df_w_nans = df5.merge(workclass, left_index=True, right_index = True)

In [56]:
len(df_w_nans.columns)

74

### Add target

In [57]:
df_w_nans.insert(loc=74, column = '>50k', value =train_target)

In [58]:
df_w_nans.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,...,Yugoslavia,Federal-gov,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,>50k
0,39,77516,2174,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,0,0,13,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
2,38,215646,0,0,40,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,53,234721,0,0,40,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,28,338409,0,0,40,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

# Occupation Data

In [59]:
df_w_nans_occupation = df_w_nans.copy()
df_w_nans_occupation.insert(loc=75, column = 'occupation_or', value =occupation_or)
df_w_nans_occupation.insert(loc=76, column = 'occupation_int', value =occupation_int)

In [60]:
df_occupation_predict_test = df_w_nans_occupation.iloc[missing_occupation]

In [61]:
df_occupation_predict_test.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,...,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,>50k,occupation_or,occupation_int
27,54,180211,0,0,60,0,0,1,0,0,...,0,0,1,0,0,0,0,1,NaN,NaN
61,32,293936,0,0,40,0,0,0,1,0,...,0,0,1,0,0,0,0,0,NaN,NaN
69,25,200681,0,0,40,0,0,0,0,1,...,0,0,1,0,0,0,0,0,NaN,NaN
77,67,212759,0,0,2,0,0,1,0,0,...,0,0,1,0,0,0,0,0,NaN,NaN
106,17,304873,34095,0,32,0,0,0,0,1,...,0,0,1,0,0,0,0,0,NaN,NaN

In [62]:
df_occupation_predict_train = df_w_nans_occupation.copy().dropna()

In [63]:
df_occupation_predict_train.occupation_int = df_occupation_predict_train.occupation_int.astype(int)

In [64]:
df_occupation_predict_train.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,...,Local-gov,Never-worked,Private,Self-emp-inc,Self-emp-not-inc,State-gov,Without-pay,>50k,occupation_or,occupation_int
0,39,77516,2174,0,40,0,0,0,0,1,...,0,0,0,0,0,1,0,0,Adm-clerical,0
1,50,83311,0,0,13,0,0,1,0,0,...,0,0,0,0,1,0,0,0,Exec-managerial,1
2,38,215646,0,0,40,1,0,0,0,0,...,0,0,1,0,0,0,0,0,Handlers-cleaners,2
3,53,234721,0,0,40,0,0,1,0,0,...,0,0,1,0,0,0,0,0,Handlers-cleaners,2
4,28,338409,0,0,40,0,0,1,0,0,...,0,0,1,0,0,0,0,0,Prof-specialty,3

## Save Occupation DataFrames

In [65]:
df_occupation_predict_train.to_csv('train_occupation_predict.csv')
df_occupation_predict_test.to_csv('test_occupation_predict.csv')