# 7. Imputation workclass & occupation

Replace Missing values for Native-Country with 'United States'

And generate two parallel data sets with workclass and occupation as target for imputation

In [1]:
import pandas as pd, numpy as np

In [2]:
col_names = ['age','workclass','fnlwgt','education', 'education_num','marital_status',
             'occupation','relationship','race','sex','capital_gain','capital_loss', 
             'hours_per_week','native_country','50k']

In [3]:
df_train_raw = pd.read_csv('census-income.data.csv', names = col_names)

In [4]:
df_train_raw.replace(' ?', np.nan, inplace=True)

In [5]:
df_train_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# Encode Target Column

In [6]:
train_target = pd.get_dummies(df_train_raw).iloc[:,-1]

In [7]:
train_target.head()

0    0
1    0
2    0
3    0
4    0
Name: 50k_ >50K, dtype: uint8

# Unbalanced Data

In [8]:
train_target.value_counts()

0    24720
1     7841
Name: 50k_ >50K, dtype: int64

# Continuous Columns 

age, education_num, fnlwgt, capital_gain, capital_loss, hours_per_week

In [9]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [10]:
len(train_features_raw.columns)

14

In [11]:
df_continuous = pd.concat([train_features_raw.age,
           train_features_raw.fnlwgt,
           train_features_raw.capital_gain,
           train_features_raw.capital_loss,
           train_features_raw.hours_per_week], axis=1)

# Continuous Variables Containing Missing Values

In [12]:
train_features_raw.age.isnull().values.any()

False

In [13]:
train_features_raw.fnlwgt.isnull().values.any()

False

In [14]:
train_features_raw.capital_gain.isnull().values.any()

False

In [15]:
train_features_raw.capital_loss.isnull().values.any()

False

In [16]:
train_features_raw.hours_per_week.isnull().values.any()

False

# Binary Spread of Categorical Columns

In [17]:
train_features_raw = df_train_raw.iloc[:,:-1]

In [18]:
train_features_raw.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

# Variables containing missing values

### Native_Country

In [19]:
train_features_raw.native_country.isnull().values.any()

True

### Impute for Native_Country

Replace all missing values with United States

In [20]:
native_country = train_features_raw.native_country.replace(np.nan, ' United-States')
native_country = pd.get_dummies(native_country)

In [21]:
native_country.head()

,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
len(native_country.columns)

41

### Workclass

In [22]:
train_features_raw.occupation.isnull().values.any()

True

### Impute for Workclass

Replace all missing values with Private

In [23]:
workclass = train_features_raw.workclass.replace(np.nan, ' Private')
workclass = pd.get_dummies(workclass)

In [67]:
workclass.columns

Index([' Federal-gov', ' Local-gov', ' Never-worked', ' Private',
       ' Self-emp-inc', ' Self-emp-not-inc', ' State-gov', ' Without-pay'],
      dtype='object')

In [66]:
len(workclass.columns)

8

### Occupation

In [81]:
train_features_raw.occupation.isnull().values.any()

True

In [82]:
occupation_str = pd.read_csv('occupation_imputed.csv', index_col = 0, names = ['Occupation'])

In [83]:
occupation = pd.get_dummies(occupation_str)

In [90]:
names = [' Adm-clerical',
 ' Armed-Forces',
 ' Craft-repair',
 ' Exec-managerial',
 ' Farming-fishing',
 ' Handlers-cleaners',
 ' Machine-op-inspct',
 ' Other-service',
 ' Priv-house-serv',
 ' Prof-specialty',
 ' Protective-serv',
 ' Sales',
 ' Tech-support',
 ' Transport-moving']

In [91]:
occupation.columns = names

In [92]:
occupation.head()

,Adm-clerical,Armed-Forces,Craft-repair,Exec-managerial,Farming-fishing,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [93]:
len(occupation.columns)

14

# Variables not containing missing values

### marital_status

In [94]:
train_features_raw.marital_status.isnull().values.any()

False

In [95]:
marital_status = pd.get_dummies(train_features_raw.marital_status)
marital_status.head()

len(marital_status.columns)

7

### relationship

In [96]:
train_features_raw.relationship.isnull().values.any()

False

In [97]:
relationship = pd.get_dummies(train_features_raw.relationship)
relationship.head()

len(relationship.columns)

6

### race

In [98]:
train_features_raw.race.isnull().values.any()

False

In [99]:
race = pd.get_dummies(train_features_raw.race)
race.head()

len(race.columns)

5

### sex

In [100]:
train_features_raw.sex.isnull().values.any()

False

In [101]:
sex = pd.get_dummies(train_features_raw.sex)
sex.head() # Male = 1, Female = 0

    Female   Male
0        0      1
1        0      1
2        0      1
3        0      1
4        1      0

# Put dataset together

In [102]:
df1 = df_continuous.merge(marital_status, left_index=True, right_index = True)

In [103]:
df2 = df1.merge(relationship, left_index=True, right_index = True)

In [104]:
df3 = df2.merge(race, left_index=True, right_index = True)

In [105]:
df4 = df3.merge(sex, left_index=True, right_index = True)

In [106]:
df5 = df4.merge(native_country, left_index=True, right_index = True)

In [107]:
df6 = df5.merge(workclass, left_index=True, right_index = True)

In [108]:
df_imputed = df6.merge(occupation, left_index=True, right_index = True)

In [109]:
len(df_imputed.columns)

88

### Add target

In [111]:
df_imputed.insert(loc=88, column = '>50k', value =train_target)

In [112]:
df_imputed.head()

,age,fnlwgt,capital_gain,capital_loss,hours_per_week,Divorced,Married-AF-spouse,Married-civ-spouse,Married-spouse-absent,Never-married,...,Handlers-cleaners,Machine-op-inspct,Other-service,Priv-house-serv,Prof-specialty,Protective-serv,Sales,Tech-support,Transport-moving,>50k
0,39,77516,2174,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,50,83311,0,0,13,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38,215646,0,0,40,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,53,234721,0,0,40,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,28,338409,0,0,40,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0

# Save_Data

In [113]:
df_imputed.to_csv('train_simple_imputation.csv')

In [114]:
len(df_imputed.columns)

89